    <header>
        <div class="cabecalho">
            <div>
                <a href="index.html">facebook</a>
            </div>
            <div class="inputs">
                <form action="/auth/login" method="post">
                <input class="inputmail" type="email" placeholder="Email" name="email">
                <input class="inputpass" type="password" placeholder="Senha" name="password">
                <button type="submit" class="button entrar">Entrar</button>
                </form>
            </div>
        </div>
        <hr class="cabecalhohr">
    </header>
    <div class="content">
        <div class="facebook-caixa">
            <div class="facebook-caixasuprema">
                <h1>Enviaremos um código para o seu email</h1>
                <hr>
                <h2>Podemos enviar um código de login para:</h2>
        <form action="/auth/forgot_password" method="POST" class="forgot-password-form">
            <label for="email">Email:</label>
            <input class="recuperacaomail" type="email" name="email" id="email">
            <div class="buttons">
               <a href="/auth/login">
               <button class="button cancelar">Cancelar</button>
               </a>
            <button class="button pesquisar" type="submit" value="Enviar">
            </form>
                    </div>
            </div>
        </div>
    </div>

        <!-- Verificando se existem erros de sessão-->
        {{#if errors}}
            <div class="error">
                {{errors.[0]}}
            </div>
        {{/if}}
    </div>
</div>