<div class="container">
    <div class="container-forgot-password">
        <form action="/auth/forgot_password" method="POST" class="forgot-password-form">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <input type="submit" value="Enviar">
        </form>
        <a href="/auth/login">Voltar para o login</a>

        <!-- Verificando se existem erros de sessão-->
        {{#if errors}}
            <div class="error">
                {{errors.[0]}}
            </div>
        {{/if}}
    </div>
</div>