<div class="container">
    <div class="container-forgot-password">
        <form action="/auth/reset_password/{{token}}" method="POST" class="forgot-password-form">
            <label for="password">Nova Senha:</label>
            <input type="password" name="password" id="password">
            <label for="confirm_password">Confirmar Nova Senha:</label>
            <input type="password" name="confirm_password" id="confirm_password">
            <input type="submit" value="Redefinir Senha">
        </form>
                <a href="/auth/login">Voltar para o login</a>
        {{#if errors}}
            <div class="error">
                {{errors.[0]}}
            </div>
        {{/if}}
    </div>
</div>